@import "tailwindcss";



body,html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      scroll-behavior: smooth;
      background-color: #f8fafc;
       overflow-x: hidden; 
}


@keyframes popupBounce {
  0% {
    opacity: 0;
    transform: scale(0.7) translateY(30px);
  }
  60% {
    opacity: 1;
    transform: scale(1.05) translateY(-10px);
  }
  80% {
    transform: scale(0.95) translateY(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-popupBounce {
  animation: popupBounce 1.5s ease forwards;
}



.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side, #1ec2eb 95%, #0000) 50% 1px/12px 12px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
  animation: l9 2s infinite linear;
}

@keyframes l9 {
  to {
    transform: rotate(1turn);
  }
}